<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a routerLink="/admin">
            <img src="../../../assets/admin/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" routerLink="/admin">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                
                </li>
                <li>
                    <a routerLink="/admin/addblog">
                        <i class="fas fa-chart-bar"></i> Add Blog</a>
                </li>
                <li>
                    <a routerLink="/admin/ablog">
                        <i class="fas fa-table"></i>Blog</a>
                </li>
                <li>
                    <a routerLink="form.html">
                        <i class="far fa-check-square"></i>Add Category</a>
                </li>
                <li>
                    <a routerLink="calendar.html">
                        <i class="fas fa-calendar-alt"></i>Category</a>
                </li>
                <li>
                    <a routerLink="map.html">
                        <i class="fas fa-map-marker-alt"></i>Feedback</a>
                </li>
                <li>
                    <a routerLink="/admin/upload">
                        <i class="fas fa-map-marker-alt"></i>File Upload</a>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" routerLink="#">
                        <i class="fas fa-copy"></i>Comment</a>
                </li>
               
            </ul>
        </nav>
    </div>
</aside>